node_modules

/build
.env
.env.local
.vercel

*.json
!package.json
!tsconfig.json
!vercel.json

vertex-ai-key.json
remixvercelchat-dc13e768a442.json
test-openai.ts
.env*
.vercel
*.local
test-openai.ts
.env.production
*.env*
.env.production
